<ul>
    <li>Name: {{info.name}}</li>
    <li>Email: {{info.email}}</li>
    <li>Tel: {{info.tel}}</li>
</ul>

<div>
    <input type="text" [(ngModel)]="comment.message" >
    <button (click)="addComment()" [disabled]="newComment">
        Add Comment
    </button>
</div>
<div *ngIf="comments.length>0; else noComments">
    <h3>Messages</h3>
    <ul>
        <li *ngFor="let comment of comments">
            {{comment.date|date}}-{{comment.message}}
        </li>
    </ul>
</div>
<ng-template #noComments>
    <p>
        No Comments
    </p>
</ng-template>

